﻿@model IEnumerable<TMS.ViewModels.TasksViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Task_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task_Description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Task_CreatedBy_User_Name)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Task_AssignedTo_User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task_CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task_AssignedDays)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Task_Status_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task_Priority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Task_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_CreatedBy_User_Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Task_AssignedTo_User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_AssignedDays)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Task_Status_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_Priority)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
         
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
